*{
margin:0;
padding:0;
box-sizing:border-box;
}
*{
font-family:'Poppins',sans-serif;
}
html{
scroll-behavior:smooth;
}
body{
background:#0f172a;
}
body{
color:white;
}
body{
overflow-x:hidden;
}
.navbar{
display:flex;
justify-content:space-between;
align-items:center;
}
.navbar{
position:fixed;
width:100%;
}
.navbar{
padding:20px 8%;
}