*{
margin:0;
padding:0;
box-sizing:border-box;
}
*{
font-family:'Poppins',sans-serif;
}
html{
scroll-behavior:smooth;
}
body{
background:#0f172a;
}
body{
color:white;
}
body{
overflow-x:hidden;
}
.navbar{
display:flex;
justify-content:space-between;
align-items:center;
}
.navbar{
position:fixed;
width:100%;
}
.navbar{
padding:20px 8%;
}
.navbar{
background:rgba(255,255,255,0.05);
backdrop-filter:blur(15px);
}
.logo{
font-size:1.5rem;
font-weight:700;
color:#38bdf8;
}
.nav-links{
display:flex;
gap:30px;
list-style:none;
}
.nav-links a{
color:white;
text-decoration:none;
}
.nav-links a{
transition:.3s;
}

.nav-links a:hover{
color:#38bdf8;
}
.menu-btn{
display:none;
font-size:1.5rem;
cursor:pointer;
}
.hero{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
}
.hero{
background:url("hero.jpg");
background-size:cover;
}
.hero{
background:
linear-gradient(rgba(0,0,0,.6),
rgba(0,0,0,.7)),
url("hero.jpg");
}
.hero-content h1{
font-size:4rem;
}
.hero-content h2{
margin:20px 0;
color:#38bdf8;
}
.btn{
display:inline-block;
padding:15px 35px;
background:#38bdf8;
border-radius:30px;
}
.btn:hover{
transform:translateY(-5px);
box-shadow:0 0 20px #38bdf8;
}
section{
padding:100px 10%;
}
.heading{
text-align:center;
font-size:3rem;
margin-bottom:50px;
color:#38bdf8;
}
.about-container{
display:grid;
grid-template-columns:1fr 1fr;
gap:50px;
}
.skill-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:20px;
}